# Assignment Title
Assignment is the title of my jupyter nonebook

# Introduction

Welcome to this notebook!

# Data  Science languages
Hereâ€™s a list of popular data science languages:

Python

R

SQL

Julia

Scala

Java

# Data Science Libraries

- NumPy  
- Pandas  
- Matplotlib  
- Seaborn  
- Scikit-learn  
- TensorFlow  
- PyTorch  
- Keras  
- Statsmodels  
- NLTK

# Data Science Tools

Jupyter Notebook  
RStudio  
Apache Spark  
Tableau  
Power BI  
Hadoop  
MATLAB

# Arithmetic Expression Examples

Addition: `3 + 5 = 8`  
Subtraction: `10 - 4 = 6`  
Multiplication: `7 * 2 = 14`  
Division: `20 / 4 = 5`  
Exponentiation: `2^3 = 8`  
Modulo (Remainder): `10 % 3 = 1`

In [14]:
num1 = 5
num2 = 3

product = num1 * num2

sum_result = num1 + num2

print("Product:", product)
print("Sum:", sum_result)

Product: 15
Sum: 8

In [16]:

minutes = 150  

hours = minutes / 60

print(f"{minutes} minutes is equal to {hours:.2f} hours.")

150 minutes is equal to 2.50 hours.

# Objectives

- Understand the basics of data science tools and techniques.  
- Learn how to analyze and visualize data effectively.  
- Apply machine learning algorithms to solve real-world problems.

# Author

This notebook was created by THOTA. SAI KARTHIK.